extends ../layout

block content
  include ../includes/search-bar
  .container
    a.add-property.btn.btn-success.btn-lg.btn-block.col-md-9.mx-auto(href="/propiedades/nueva") Agregar nueva propiedad
  .card-columns
    each property in properties
      a(href='/propiedades/' + property._id)  
        .card
          if (property.image)
            img.card-img-top(src=property.image)
          .card-body
            h4.card-title #{property.description}
            p.card-text En #{property.city}, #{property.province}
          .card-footer
            span.price
              strong #{property.price}
            span.float-right #{property.dimensions} m<sup>2</sup>                    
